<p id="notice"><%= notice %></p>

<h1>日付け一覧</h1>

<table class="table">
  <tbody>
    <% @created_days.each do |created_day| %>
      <tr>
        <td><%= created_day.day %></td>
        <td><%= link_to 'この日に投稿された日記を見る', created_day %></td>
<!--        <td><%#= link_to 'Edit', edit_created_day_path(created_day) %></td>-->
<!--        <td><%#= link_to 'Destroy', created_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Created Day', new_created_day_path %>
