<p id="notice"><%= notice %></p>

<h1>日付一覧</h1>

<table class="table">
  <tbody>
    <% @created_days.each do |created_day| %>
      <tr>
        <td><%= created_day.day %></td>
        <td><%= button_to 'この日に投稿された日記を見る', created_day, {method: :get, class: "btn btn-dark"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

